.about {
  margin: 15px;
}

.about__header {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  color: #666666;
}

.about__text {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 35px;
}

.about__link {
  text-decoration: none;
  color: #00b2ff;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #00b2ff;
  border-radius: 4px;
  padding: 12px 30px;
  margin-top: 0;
  margin-bottom: 40px;
  display: inline-block;
  width: 180px;
  box-sizing: border-box;


  &:hover,
  :focus {
    color: #ffffff;
    background-color: #00b2ff;
  }
}

@media (min-width: 750px) {
  .about {
    margin: 25px;
    margin-left: 210px;
    min-height: 767px;
  }

  .about__header {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin-top: -362px;
    margin-bottom: 26px;

    &::before {
      content: "";
      display: block;
      position: relative;
      left: -217px;
      top: 358px;
      width: 198px;
      height: 360px;
      background-image: url("../img/2005.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .about__text {
    margin-bottom: 19px;
  }

  .about__link {
    margin-bottom: 0;
    margin-top: 26px;
  }
}

@media (min-width: 1024px) {
  .about {
    padding-bottom: 10px;
  }

  .about__header {
    font-size: 36px;
    line-height: 51px;
    padding-left: 180px;
    margin-top: -370px;

    &::before {
      width: 150px;
    }
  }

  .about__text {
    line-height: 22px;
    padding-left: 180px;
    padding-right: 180px;
    margin-top: -5px;
  }

  .about__link {
    margin-top: 66px;
    margin-left: 180px;
  }
}

@media (min-width: 1200px) {
  .about {
    width: 1167px;
    margin: 0 auto;
  }

  .about__text {
    padding-right: 0;
  }
}
