.about {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.about h2 {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  color: #666666;
  font-size: 36px;
  line-height: 51px;
  padding-left: 180px;
  margin-top: -335px;

  &::before {
    content: "";
    display: block;
    position: relative;
    left: -212px;
    top: 328px;
    width: 198px;
    height: 325px;
    background-image: url("../img/2005@1x.webp");

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image: url("../img/2005@1x.png");
    }

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/2005@2x.webp");
      background-size: 170px 325px;
    }
  }
}

.about p {
  line-height: 22px;
  padding-left: 180px;
  padding-right: 5px;
  margin-top: -5px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #666666;
  margin-bottom: 22px;
}

.about span {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.about__link {
  margin-top: 19px;
  margin-left: 180px;
  text-decoration: none;
  color: #00b2ff;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #00b2ff;
  border-radius: 4px;
  padding: 12px 30px;
  margin-bottom: 102px;
  display: inline-block;
  width: 180px;
  box-sizing: border-box;

  &:hover,
  :focus {
    color: #ffffff;
    background-color: #00b2ff;
  }
}

@media (max-width: 1023px) {
  .about {
    margin: 25px;
    min-height: 761px;
    padding-left: 0;
    padding-right: 0;
  }

  .about h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin-top: -386px;
    margin-bottom: 22px;
    margin-left: 6px;

    &::before {
      left: -217px;
      top: 359px;
      width: 179px;
      height: 357px;
      background-image: url("../img/2005@1x.webp");

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-image: url("../img/2005@1x.png");
      }

      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/2005@2x.webp");
        background-size: 170px 362px;
      }
    }
  }

  .about p {
    margin-bottom: 19px;
    margin-top: 0;
    margin-left: 5px;
  }

  .about span {
    white-space: nowrap;
  }

  .about__link {
    margin-bottom: 0;
    margin-top: 3px;
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .about {
    margin: 11px;
    min-height: auto;
  }

  .about h2 {
    font-size: 28px;
    line-height: 140.62%;
    padding: 0;
    margin-top: 0;

    &::before {
      content: none;
    }
  }

  .about p {
    line-height: 22px;
    padding: 0;
    margin-bottom: 35px;
  }

  .about__link {
    margin: 0;
  }
}
