.advantages {
  margin-top: 38px;
  margin-bottom: 72px;
}

.advantages__header {
  @include visually-hidden;
}

.advantages__title {
  color: #00b2ff;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140.62%;
  margin: 10px 0;
}

.advantages__text {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  margin: 0;
}

.advantages__item:hover .advantages__title {
  color: white;
}

.advantages__item:hover {
  background-color: #00b2ff;
  color: white;
}

.advantages__item {
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-left: 2px solid #00b2ff;
  margin: 17px 15px;
  padding: 22px;

  &:nth-child(2)::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("/img/stopwatch.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(3)::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("/img/hired.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(4)::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("/img/detective.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(5)::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("/img/tag.svg");
    background-repeat: no-repeat;
  }

  &:nth-child(2):hover::before {
    background-image: url("/img/stopwatch-white.svg");
  }

  &:nth-child(3):hover::before {
    background-image: url("/img/hired-white.svg");
  }

  &:nth-child(4):hover::before {
    background-image: url("/img/detective-white.svg");
  }

  &:nth-child(5):hover::before {
    background-image: url("/img/tag-white.svg");
  }
}

@media (min-width: 750px) {
  .advantages {
    margin-bottom: 50px;
  }

  .advantages__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 712px;
    margin-bottom: 10px;
  }

  .advantages__title {
    font-size: 24px;
    line-height: 34px;
    margin-top: 5px;
  }

  .advantages__item {
    box-sizing: border-box;
    width: 49%;
    max-width: 344px;
    margin: 0;
    margin-top: 17px;
    margin-bottom: 18px;

    &:nth-child(2n) {
      margin-right: 23px;
    }
  }
}

@media (min-width: 1024px) {
  .advantages__item {
    box-sizing: border-box;
    min-height: 293px;
    padding: 40px;
  }

  .advantages__title {
    font-size: 24px;
    line-height: 34px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    max-width: 570px;
  }

  .advantages__item-wrapper {
    width: 1167px;
    margin: 100px auto;
  }
}
