.advantages {
  margin-top: 38px;
  margin-bottom: 72px;
  padding: 0 25px;
}

.advantages__header {
  @include visually-hidden;
}

.advantages__title {
  font-size: 24px;
  line-height: 34px;
  margin-top: 12px;
  margin-bottom: 16px;
  color: #00b2ff;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
}

.advantages__text {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  margin: 0;
}

.advantages__item:hover .advantages__title {
  color: white;
}

.advantages__item:hover {
  background-color: #00b2ff;
  color: white;
}

.advantages__item-wrapper {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  box-sizing: border-box;
  min-height: 293px;
  padding: 40px;
  border: 1px solid #cdcdcd;
  border-left: 2px solid #00b2ff;
  margin: 17px 0;
  background-color: white;
  width: 48.5%;
  max-width: 570px;

  &--stopwatch::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("../img/stopwatch.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
  }

  &--hired {
    margin-left: 33px;

    @media (max-width: 1200px) {
      margin-left: 25px;
    }
  }

  &--hired::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("../img/hired.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
  }

  &--detective::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("../img/detective.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
  }

  &--tag::before {
    content: "";
    display: block;
    position: relative;
    width: 42px;
    height: 40px;
    background-image: url("../img/tag.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
  }

  &--stopwatch:hover::before {
    background-image: url("../img/stopwatch-white.svg");
  }

  &--hired:hover::before {
    background-image: url("../img/hired-white.svg");
  }

  &--detective:hover::before {
    background-image: url("../img/detective-white.svg");
  }

  &--tag:hover::before {
    background-image: url("../img/tag-white.svg");
  }
}

@media (max-width: 1023px) {
  .advantages__item-wrapper {
    margin: 0 auto;
  }

  .advantages__item {
    padding: 35px 25px;
    min-height: 230px;
    padding-top: 20px;
    margin: 12px 0;
  }

  .advantages__item--hired {
    margin-left: 20px;
  }

  .advantages__title {
    margin-top: 5px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 0;
    margin-bottom: 50px;
  }

  .advantages__item {
    width: 90%;
    margin: 0 auto;
    padding: 22px;
    margin-bottom: 17px;
  }

  .advantages__title {
    font-size: 20px;
    line-height: 140.62%;
    margin: 10px 0;
  }
}
