.contacts {
  background-color: #fafafa;
}

.contacts__logo {
  display: flex;
  flex-direction: column;
  min-height: 262px;
}

.contacts__logo-copyright {
  margin-top: 26px;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  font-family: "PT Mono", monospace;
}

.contacts__logo-img {
  margin-top: 45px;
}

.contacts__logo-rights {
  width: 243px;
  margin: 25px auto;
}

.contacts__section,
.contacts__copyright {
  border-top: 1px solid #cdcdcd;
  width: 100%;
}

.contacts__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  min-height: 70px;
  margin: 0 auto;
}

.contacts__adress-list {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.contacts__adress-phone {
  color: #1b2d37;
}

.contacts__links {
  display: none;
}

.contacts__title {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1b2d37;
  margin-left: 0.6vw;
  margin-top: 28px;
}

.contacts__section-button {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.contacts__social {
  display: flex;
  padding: 0;
  margin-top: 0;
  justify-content: center;
}

.contacts__social-item {
  margin: 0 8px;
}

.contacts__copyright {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  padding-bottom: 30px;
}

@media (min-width: 750px) {
  .contacts__logo {
    flex-direction: row;
    min-height: 95px;
  }

  .contacts__social {
    margin-top: 31px;
    margin-right: 16px;
  }

  .contacts__logo-img {
    margin: 20px;
    width: 217px;
    height: 52px;
    margin-left: 25px;
    margin-top: 17px;
  }

  .contacts__logo-rights {
    margin: 35px auto;
    padding-left: 10px;
  }

  .contacts__title-wrapper {
    width: 70%;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: -17px;
  }

  .contacts__section-wrapper {
    display: flex;
    padding-bottom: 21px;
  }

  .contacts__adress {
    margin-left: -25px;
  }

  .contacts__adress-list {
    margin-left: 27px;
    width: 334px;
  }

  .contacts__adress-phone:nth-of-type(1) {
    margin-top: -14px;
  }

  .contacts__section-button {
    display: none;
  }

  .contacts__links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 25px;
  }

  .contacts__links-item {
    text-decoration: none;
    font-family: "PT Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;
  }

  .contacts__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__copyright-text {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .contacts__wrapper {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 264px;
  }

  .contacts__logo {
    width: 230px;
    flex-direction: column;
    margin-top: 50px;
  }

  .contacts__logo-img {
    margin: 11px 15px 26px 0;
  }

  .contacts__title-wrapper {
    margin: -15px 0 -17px 26px;
  }

  .contacts__section-wrapper {
    width: 790px;
    height: 264px;
  }

  .contacts__section {
    border: none;
    margin-top: 50px;
  }

  .contacts__copyright {
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  .contacts__copyright-text {
    box-sizing: border-box;
    margin-right: 110px;
    margin-top: 10px;
    width: 25%;
  }

  .contacts__logo-rights {
    position: relative;
    bottom: -77px;
    left: -36px;
    margin-left: 30px;
  }

  .contacts__social {
    margin-top: -100px;
  }

  .contacts__links {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 106px;
  }
}

@media (min-width: 1420px) {
  .contacts__wrapper {
    width: 1415px;
    height: 264px;
  }

  .contacts__social {
    margin-top: -90px;
    margin-left: -100px;
  }

  .contacts__section-wrapper {
    margin-left: 150px;
  }

  .contacts__adress {
    margin-left: 200px;
  }
}
