.contacts {
  background-color: #fafafa;
  width: 100%;
  min-height: 316px;
}

.contacts__section-wrapper {
  box-sizing: border-box;
  width: 30%;
  height: 264px;
}

.contacts__section-button {
  display: none;
  background-color: transparent;
  border: none;
  margin-left: auto;

  &:hover,
  :focus {
    @include standard-hover;
  }
}

.contacts__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 264px;
}

.contacts__container {
  width: 95%;
  max-width: 1415px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contacts__logo {
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 21px;
  display: flex;
}

.contacts__copyright {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #cdcdcd;
}

.contacts__copyright-wrapper {
  width: 95%;
  max-width: 1415px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contacts__logo-rights {
  display: flex;
  width: 458px;
  justify-content: space-between;
}

.contacts__logo-copyright {
  margin-top: 14px;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  font-family: $secondary-font;
}

.contacts__logo > img {
  margin: 11px 15px 26px 0;
  margin-top: 45px;
  width: 216px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__copyright-text {
  box-sizing: border-box;
  margin-right: 4px;
  margin-top: 14px;
  width: 32%;
}

.contacts__copyright-text--right {
  text-align: right;
}

.contacts__adress {
  box-sizing: border-box;
  width: 24%;
}

.contacts__adress-list {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.contacts__adress-list p {
  margin-bottom: 0;
}

.contacts__adress-phone {
  color: #1b2d37;

  &:hover,
  :focus {
    text-decoration: underline;
  }
}

.contacts__links {
  display: flex;
  flex-wrap: wrap;
  width: 496px;
  height: 106px;
  flex-direction: column;
  padding: 0;
  margin-top: 25px;
}

.contacts__title {
  font-family: $main-font;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1b2d37;
  margin-top: 65px;
}

.contacts__social {
  margin-top: 27px;
  margin-left: -100px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.contacts__social-item {
  margin: 0 8px;

  &:hover,
  :focus {
    @include standard-hover;
  }
}

.contacts__links-item {
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.contacts__links-item:hover,
.contacts__links-item:focus {
  text-decoration: underline;
}

@media (max-width: 1080px) {
  .contacts__section-wrapper {
    width: 45%;
  }
}

@media (max-width: 1023px) {
  .contacts {
    min-height: 450px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
      position: absolute;
      top: 98px;
    }
  }

  .contacts__container {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__section-wrapper {
    display: flex;
    padding-bottom: 21px;
    height: auto;
  }

  .contacts__logo {
    flex-direction: row;
    min-height: 95px;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
  }

  .contacts__social {
    margin-top: 31px;
    margin-right: 0;
    margin-left: 0;
  }

  .contacts__logo > img {
    margin: 20px;
    width: 217px;
    height: 52px;
    margin-left: 0;
    margin-top: 17px;
  }

  .contacts__logo-rights {
    margin: 35px auto;
    padding-left: 10px;
  }

  .contacts__title-wrapper {
    width: 70%;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: -17px;
  }

  .contacts__title {
    margin-top: 38px;
    margin-bottom: 44px;
    margin-left: -18px;
  }

  .contacts__adress {
    margin-left: -25px;
    width: 49%;
  }

  .contacts__adress-list {
    margin-left: 7px;
    width: 334px;
  }

  .contacts__links {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto;
    width: auto;
    margin-left: 6px;
  }

  .contacts__links-item {
    text-decoration: none;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;
  }

  .contacts__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__copyright-text {
    margin: 20px;
  }

  .contacts__copyright-text--terms {
    margin-left: -200px;
    transform: translateX(-100%);
  }

  .contacts__adress-list p {
    margin-bottom: 13px;
    margin-top: 0;
  }

  .contacts__logo-copyright--desktop {
    display: none;
  }

  .contacts__logo-copyright--tablet {
    position: absolute;
    top: 20px;
    left: 43%;
  }
}

@media (max-width: 767px) {
  .contacts {
    &::before {
      content: none;
    }
  }

  .contacts__container {
    width: 100%;
  }

  .contacts__section {
    width: 100%;
  }

  .contacts__logo {
    flex-direction: column;
  }

  .contacts__logo-copyright--tablet {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 290px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: auto;
    }
  }

  .contacts__logo > img {
    margin: 45px auto 26px;
  }

  .contacts__links {
    display: none;
  }

  .contacts__section-wrapper {
    width: 100%;
  }

  .contacts__title-wrapper {
    width: 100%;
    border-top: 1px solid #cdcdcd;
    display: flex;
    margin: 30px 0 0;
  }

  .contacts__title {
    margin: 0;
    margin-left: 14px;
    padding-top: 31px;
    margin-bottom: -24px;
  }

  .contacts__section-button {
    display: block;
    margin-right: 20px;
    transform: translateY(25px);
  }

  .contacts__adress {
    margin-left: 0;
  }

  .contacts__copyright-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .contacts__copyright-text--terms {
    transform: none;
    margin: 0;
  }

  .contacts__logo-rights {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .contacts__adress-list {
    width: auto;
    margin-left: 16px;
    padding-bottom: 26px;
  }

  .contacts__social {
    margin-top: 57px;
  }

  .contacts__adress-list p {
    margin-top: 53px;
    padding-right: 25px;
  }

  .contacts__copyright-text {
    width: auto;
    text-align: center;
    margin-top: 27px;
  }
}
