.feedback--popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.feedback--popup--show {
  display: block;
  overflow: hidden;
}

.feedback__ask--popup {
  box-sizing: border-box;
  width: 490px;
  height: 605px;
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  background: #00b2ff;
  padding-left: 35px;
  z-index: 200;
}

.feedback__ask-text--popup {
  margin-bottom: 18px;
  margin-left: 5px;
  margin-top: 13px;
}

.feedback__ask-wrapper--popup {
  width: 100%;
  margin-top: 0;
}

.feedback__ask-header--popup {
  margin-top: 17px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  color: #ffffff;
  padding-top: 13px;
  margin-left: 4px;
}

.feedback__form-field--popup-input {
  display: flex;
  flex-direction: column;
}

.feedback__form-field--popup-input input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 426px;
  padding-left: 24px;
}

.feedback__form-field--popup-textarea textarea {
  height: 100px;
  margin-top: 16px;
  margin-right: 25px;
  width: 426px;
  margin-bottom: 30px;
  padding-left: 24px;
}

.feedback__form-buttons--popup {
  display: flex;
  flex-direction: column;
}

.feedback__form-agreement-ckeckbox--popup input {
  display: none;
}

.feedback__form-button--popup {
  width: 92%;
  margin-bottom: 49px;
}

.feedback__form-agreement-checkbox-label--popup {
  width: 75%;
  margin-left: 51px;
  margin-top: -20px;

  &::before {
    left: -47px;
  }
}

.feedback__form-agreement-ckeckbox--popup input:checked + .feedback__form-agreement-checkbox-label--popup::before {
  background-image: url("../img/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 9px 9px;
}

.feedback__close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 19px;
  height: 19px;
  background-color: #00b2ff;
  border: none;
  background-image: url("../img/close@1x.webp");
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &:hover,
  :focus {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
  }
}

@media (max-height: 870px) {
  .feedback__ask--popup {
    top: 50vh;
    transform: translate(-50%, -50%);
  }
}
