.feedback {
  background-image: url("../img/form-bg.png");
  background-repeat: no-repeat;
  background-position-y: -60px;
  background-position-x: right 70%;
  background-size: 90%;
  background-color: #00b2ff;
  padding-bottom: 88px;
}

.feedback__header {
  @include visually-hidden;
}

.feedback__ask {
  width: 95%;
  max-width: 1175px;
  margin: 0 auto;
  color: white;
}

.feedback__ask-wrapper {
  width: 570px;
  box-sizing: border-box;
  min-height: 466px;
  margin-left: auto;
  margin-right: 0;
}

.feedback__ask-header {
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  padding-top: 91px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 9px;
}

.feedback__ask br {
  display: none;
}

.feedback__ask-text {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 54px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.feedback__form-button {
  background-color: #00b2ff;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 46px;
  margin-bottom: 25px;
  box-sizing: border-box;
  width: 270px;

  &:hover,
  :focus {
    @include light-hover;
  }
}

.feedback__form-field--input,
.feedback__form-buttons {
  display: flex;
  justify-content: space-between;
}

.feedback__form-field input,
.feedback__form-field textarea {
  background-color: #19baff;
  border: none;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  &::-moz-placeholder {
    color: white;
  }

  &::-webkit-input-placeholder {
    color: white;
  }

  &:hover,
  :focus {
    outline-color: #ffffff;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
}

.feedback__form-field--input input {
  min-height: 51px;
  margin-bottom: 35px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 48%;
}

.feedback__form-field--textarea textarea {
  height: 156px;
  resize: none;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 38px;
  width: 100%;
}

.feedback__form-agreement-checkbox label {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  display: block;
  width: 230px;
  margin-bottom: 15px;
  padding-right: 25px;
  box-sizing: border-box;
  transform: translateY(-10px);

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid white;
    position: relative;
    top: 17px;
    left: -32px;
  }

  &:hover,
  :focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

.feedback__form-agreement-checkbox input {
  @include visually-hidden;
}

.feedback__form-agreement-checkbox input:checked + .feedback__form-agreement-checkbox label::before {
  background-image: url("../img/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1023px) {
  .feedback {
    background-image: none;
    padding-bottom: 79px;
  }

  .feedback__ask {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .feedback__ask-wrapper {
    width: 95%;
    max-width: 595px;
    min-height: 470px;
    margin: 0 auto;
  }

  .feedback__ask-header {
    font-size: 32px;
    line-height: 140.62%;
    margin-top: 0;
  }

  .feedback__form-field--textarea textarea {
    margin-top: 10px;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .feedback {
    padding-bottom: 5px;
  }

  .feedback__ask-header {
    margin: 0;
    margin-top: 0;
    font-size: 28px;
    line-height: 140.62%;
    padding-top: 29px;
    padding-left: 7px;
  }

  .feedback__ask br {
    display: inline;
  }

  .feedback__ask-text {
    margin-top: 13px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .feedback__form-field--input,
  .feedback__form-buttons {
    flex-direction: column;
  }

  .feedback__form-field--input input {
    width: 97%;
    margin-top: 26px;
    margin-bottom: 7px;
    padding-left: 18px;
    padding-bottom: 9px;
  }

  .feedback__form-field--textarea textarea {
    width: 97%;
    margin-bottom: 41px;
    height: 107px;
  }

  .feedback__form-button {
    width: 97%;
    height: 44px;
  }

  .feedback__ask-wrapper {
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .feedback__form-agreement-checkbox {
    margin-left: 35px;
  }
}
