.footer__header {
  @include visually-hidden;
}

.footer__ask {
  color: white;
  background-color: #00b2ff;
  padding: 15px;
}

.footer__ask-header {
  margin: 0;
  margin-top: 13px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
}

.footer__ask-text {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.footer__form {
  display: flex;
  flex-direction: column;

  & > .footer__form-field {
    background-color: #19baff;
    border: none;
    font-family: "PT Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    &::-moz-placeholder {
      color: white;
    }

    &::-webkit-input-placeholder {
      color: white;
    }
  }

  & .footer__form-field--input {
    width: 290px;
    min-height: 51px;
    margin-bottom: 35px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  & .footer__form-field--textarea {
    width: 290px;
    height: 104px;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  & .footer__form-button {
    background-color: #00b2ff;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 290px;
    height: 46px;
    margin-bottom: 25px;
  }
}

.footer__form-label {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  margin-left: 10%;
  display: block;
  width: 230px;
  margin-bottom: 15px;

  &::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid white;
    position: relative;
    top: 20px;
    left: -25px;
  }
}

.footer__form-agreement-input {
  @include visually-hidden;
}

.footer__form-agreement-input:checked + .footer__form-label::before {
  background-image: url("/img/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__ask-wrapper {
  width: 290px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .footer__ask-wrapper {
    width: 596px;
    min-height: 470px;
    margin: 40px auto;
  }

  .footer__ask br {
    display: none;
  }

  .footer__ask-header {
    font-size: 32px;
    line-height: 140.62%;
  }

  .footer__form {
    flex-direction: row;
    flex-wrap: wrap;

    & .footer__form-field--input {
      width: 279px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    & > .footer__form-field--input:nth-of-type(1) {
      margin-right: 35px;
    }

    & .footer__form-field--textarea {
      width: 100%;
      height: 159px;
      margin-bottom: 40px;
    }

    & .footer__form-button {
      margin-bottom: 50px;
    }
  }

  .footer__form-label {
    margin-left: 55px;
    margin-top: -12px;
  }
}

@media (min-width: 1920px) {
  .footer__ask {
    background-image: url("/img/форма.png");
  }

  .footer__ask-header {
    font-size: 36px;
    line-height: 51px;
  }

  .footer__ask-wrapper {
    margin-right: 18%;
  }
}
