.goods {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 125px;
  background-color: #1b2d37;
  color: white;
  box-sizing: border-box;
}

.goods__wrapper {
  margin: 0 auto;
  width: 100%;
}

.goods__header-container {
  max-width: 1213px;
  margin: 0 auto;
}

.goods__list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1213px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.goods__list li {
  box-sizing: border-box;
  width: 31.011%;
  max-width: 370px;
  min-height: 620px;
  margin: 30px 1.161% 0;
}

.goods__item {
  background-repeat: no-repeat;
  background-position-x: right, center;
  background-position-y: bottom, center;
  color: white;
  display: block;
  box-sizing: border-box;
  max-width: 370px;
  min-height: 620px;
  margin: 30px 1.161% 0;

  &--produce {
    background-image:
      url("../img/arrow@1x.webp"),
      url("../img/produce-desktop@1x.webp");

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image:
        url("../img/arrow@1x.png"),
        url("../img/produce-desktop@1x.png");
    }

    background-color: #1b2d37;
    background-size: 63px 63px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image:
        url("../img/arrow@2x.webp"),
        url("../img/produce-desktop@2x.webp");
    }
  }

  &--mount {
    background-image:
      url("../img/arrow@1x.webp"),
      url("../img/mount-desktop@1x.webp");

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image:
        url("../img/arrow@1x.png"),
        url("../img/mount-desktop@1x.png");
    }

    background-color: #1b2d37;
    background-size: 63px 63px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image:
        url("../img/arrow@2x.webp"),
        url("../img/mount-desktop@2x.webp");
      background-size: 63px 63px, cover;
    }
  }

  &--light {
    background-image:
      url("../img/arrow@1x.webp"),
      url("../img/light-desktop@1x.webp");

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image:
        url("../img/arrow@1x.png"),
        url("../img/light-desktop@1x.png");
    }

    background-color: #1b2d37;
    background-size: 63px 63px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image:
        url("../img/arrow@2x.webp"),
        url("../img/light-desktop@2x.webp");
      background-size: 63px 63px, cover;
    }
  }

  &:hover,
  :focus {
    @include standard-hover;
  }
}

.goods__text {
  margin-left: 49px;
  margin-top: 48px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 157px;
  display: inline-block;
}

.goods__header {
  width: 80%;
  max-width: none;
  font-size: 36px;
  line-height: 51px;
  margin-top: 37px;
  margin-bottom: -6px;
  margin-left: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  padding-top: 51px;
  padding-left: 25px;
  padding-right: 15px;
}

@media (max-width: 1023px) {
  .goods {
    padding-bottom: 88px;
  }

  .goods__header {
    font-size: 32px;
    padding-right: 0;
    padding-left: 5px;
    max-width: 720px;
    margin: -5px auto 1px;
    width: auto;
  }

  .goods__wrapper {
    padding: 0;
  }

  .goods__list {
    padding-right: 20px;
    padding-left: 20px;
  }

  .goods__item {
    width: 99%;
    color: white;
    display: block;
    box-sizing: border-box;
    max-width: 720px;
    min-height: 246px;
    background-repeat: no-repeat;
    background-position-x: right, center;
    background-position-y: bottom, center;
    border: 1px solid transparent;
    margin: 50px auto 0;

    &:hover,
    :focus {
      @include standard-hover;
    }

    &--produce {
      background-image:
        url("../img/arrow@1x.webp"),
        url("../img/produce-tablet@1x.webp");

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-image:
          url("../img/arrow@1x.png"),
          url("../img/produce-tablet@1x.png");
      }

      background-color: #1b2d37;
      background-size: 63px 63px, cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image:
          url("../img/arrow@2x.webp"),
          url("../img/produce-tablet@2x.webp");
        background-size: 63px 63px, cover;
      }
    }

    &--mount {
      background-image:
        url("../img/arrow@1x.webp"),
        url("../img/mount-tablet@1x.webp");

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-image:
          url("../img/arrow@1x.png"),
          url("../img/mount-tablet@1x.png");
      }

      background-color: #1b2d37;
      background-size: 63px 63px, cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image:
          url("../img/arrow@2x.webp"),
          url("../img/mount-tablet@2x.webp");
        background-size: 63px 63px, cover;
      }
    }


    &--light {
      background-image:
        url("../img/arrow@1x.webp"),
        url("../img/light-tablet@1x.webp");

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-image:
          url("../img/arrow@1x.png"),
          url("../img/light-tablet@1x.png");
      }

      background-color: #1b2d37;
      background-size: 63px 63px, cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image:
          url("../img/arrow@2x.webp"),
          url("../img/light-tablet@2x.webp");
        background-size: 63px 63px, cover;
      }
    }
  }

  .goods__list li {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    min-height: auto;
  }

  .goods__text {
    margin-left: 45px;
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .goods {
    padding-bottom: 65px;
    margin-top: 55px;
  }

  .goods__item {
    margin: 30px auto 0;
  }

  .goods__header {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 40px;
  }

  .goods__text {
    margin-left: 35px;
    margin-top: 25px;
  }
}
