.goods__item {
  color: white;
  display: block;
  box-sizing: border-box;
  width: 90%;
  max-width: 720px;
  min-height: 256px;
  margin: 0 auto;
  margin-bottom: 25px;

  &:hover {
    border: 1px solid #00b2ff;
  }
}

.goods__text {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 157px;
  display: inline-block;
  margin-left: 35px;
  margin-top: 25px;
}

.goods__header {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140.62%;
  padding-top: 40px;
  padding-left: 15px;
}

.goods {
  background-color: #1b2d37;
  color: white;
  box-sizing: border-box;
  padding-bottom: 50px;

  & .goods__item:nth-child(2) {
    background-image:
      url("/img/arrow.png"),
      url("/img/produce-tablet.png");
    background-repeat: no-repeat;
    background-position-x: right, center;
    background-position-y: bottom, center;
  }

  & .goods__item:nth-child(3) {
    background-image:
      url("/img/arrow.png"),
      url("/img/mount-tablet.png");
    background-repeat: no-repeat;
    background-position-x: right, center;
    background-position-y: bottom, center;
  }


  & .goods__item:nth-child(4) {
    background-image:
      url("/img/arrow.png"),
      url("/img/light-tablet.png");
    background-repeat: no-repeat;
    background-position-x: right, center;
    background-position-y: bottom, center;
  }
}

@media (min-width: 1024px) {
  .goods {

    display: flex;
    flex-wrap: wrap;

    & .goods__item:nth-child(2) {
      background-image:
        url("/img/arrow.png"),
        url("/img/produce-desktop.png");
      background-repeat: no-repeat;
      background-position-x: right, center;
      background-position-y: bottom, center;
      margin-right: 25px;
    }

    & .goods__item:nth-child(3) {
      background-image:
        url("/img/arrow.png"),
        url("/img/mount-desktop.png");
      background-repeat: no-repeat;
      background-position-x: right, center;
      background-position-y: bottom, center;
      margin-right: 25px;
      margin-left: 25px;
    }

    & .goods__item:nth-child(4) {
      background-image:
        url("/img/arrow.png"),
        url("/img/light-desktop.png");
      background-repeat: no-repeat;
      background-position-x: right, center;
      background-position-y: bottom, center;
      margin-left: 25px;
    }
  }

  .goods__header {
    width: 80%;
    margin-left: 20%;
  }

  .goods__item {
    color: white;
    display: block;
    box-sizing: border-box;
    width: 30%;
    max-width: 370px;
    min-height: 620px;
  }
}
