.goods {
  background-color: #1b2d37;
  color: white;
  box-sizing: border-box;
  padding-bottom: 73px;
}

.goods__item {
  color: white;
  display: block;
  box-sizing: border-box;
  width: 90%;
  max-width: 720px;
  min-height: 256px;
  margin: 39px auto -8px;
  background-repeat: no-repeat;
  background-position-x: right, center;
  background-position-y: bottom, center;
  border: 1px solid transparent;

  &:hover,
  :focus {
    @include standard-hover;
  }

  &:nth-child(2) {
    background-image:
      url("../img/arrow.png"),
      url("../img/produce-tablet.png");
  }

  &:nth-child(3) {
    background-image:
      url("../img/arrow.png"),
      url("../img/mount-tablet.png");
  }


  &:nth-child(4) {
    background-image:
      url("../img/arrow.png"),
      url("../img/light-tablet.png");
  }
}

.goods__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 157px;
  display: inline-block;
  margin-left: 35px;
  margin-top: 25px;
}

.goods__header {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  padding-top: 51px;
  padding-left: 24px;
  padding-right: 15px;
}

@media (min-width: 750px) {
  .goods {
    padding-bottom: 83px;
  }

  .goods__header {
    font-size: 32px;
    margin-left: 25px;
    padding-left: 0;
    padding-right: 120px;
    margin-bottom: 10px;
  }

  .goods__item {
    margin: 50px auto -4px;
    width: 94%;
  }

  .goods__text {
    margin-left: 45px;
    margin-top: 45px;
  }
}

@media (min-width: 1024px) {
  .goods {

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 135px;
  }

  .goods__item {
    background-repeat: no-repeat;
    background-position-x: right, center;
    background-position-y: bottom, center;
    color: white;
    display: block;
    box-sizing: border-box;
    width: 30%;
    max-width: 370px;
    min-height: 620px;

    &:nth-child(2) {
      background-image:
        url("../img/arrow.png"),
        url("../img/produce-desktop.png");
      margin-right: 5px;
    }

    &:nth-child(3) {
      background-image:
        url("../img/arrow.png"),
        url("../img/mount-desktop.png");
      margin-right: 25px;
      margin-left: 25px;
    }

    &:nth-child(4) {
      background-image:
        url("../img/arrow.png"),
        url("../img/light-desktop.png");
      margin-left: 5px;
    }
  }

  .goods__header {
    width: 80%;
    font-size: 36px;
    line-height: 51px;
    margin-left: 19.5%;
    margin-top: 37px;
    margin-bottom: 0;
  }

  .goods__text {
    margin-left: 43px;
    margin-top: 53px;
  }
}
