.header {
  height: 85px;
  box-sizing: border-box;
  background-color: #1b2931;
  margin: 0 auto;
  display: flex;
  padding-top: 17px;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    position: relative;
    z-index: 10;
  }
}

.header__container {
  width: 100%;
  max-width: 1411px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.header__logotype img:hover,
.header__logotype img:focus {
  opacity: 0.5;
}

.header__nav-menu-span {
  display: block;
  width: 37px;
  height: 0;
  border-top: 1px solid white;
  border-radius: 1px;
}

.header__nav-menu-span:first-child {
  margin-bottom: 9px;
  margin-top: 5px;
}

.header__nav-menu {
  margin-top: -4px;
  margin-right: auto;
  margin-left: 8%;
  background-color: transparent;
  border: none;

  &:hover,
  :focus {
    opacity: 0.5;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-right: 0;
  }
}

.header__logotype {
  box-sizing: border-box;
  padding-top: 15px;
  width: 256px;
  padding-left: 25px;
  margin-left: -25px;
}

.header__logotype img {
  width: 202px;
  height: 52px;
}

.header__controls {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.header__callback {
  display: block;
  width: 180px;
  height: 45px;
  color: white;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 6px;

  &:hover,
  :focus {
    border-color: #00b2ff;
    cursor: pointer;
  }
}

.header__connect-type {
  margin-left: 3.8%;
  margin-right: 41px;
  margin-top: 8px;

  &:hover,
  :focus {
    opacity: 0.5;
  }
}

.header__connect-type-img img {
  transform: translateY(7px);
  margin-right: 10px;
}

.header__connect-type-img--mail img {
  transform: scale(0.7) translateY(7px);
  transform-origin: 100% 100%;
}

.header__email {
  width: 148px;
}

.header__phone {
  width: 219px;
}

.header__controls-info {
  display: inline;
  margin-right: 3%;
  color: white;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 1023px) {
  .header__container {
    justify-content: space-between;
  }

  .header__callback {
    display: none;
  }

  .header__controls-info {
    display: none;
  }

  .header__logotype {
    padding-top: 3px;
  }

  .header__logotype img {
    margin-left: 25px;
  }

  .header__controls {
    width: auto;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 90%;
    }
  }

  .header__connect-type {
    width: auto;
    margin-left: 6.8%;
    margin-right: 15px;
    margin-top: -7px;
  }

  .header__nav-menu {
    margin-left: 0;
    margin-top: -36px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 55px;
  }

  .header__nav-menu {
    margin-right: -1px;
    margin-top: -10px;
  }

  .header__logotype {
    padding-left: 17px;
    box-sizing: border-box;
  }

  .header__logotype img {
    width: 38px;
    height: 38px;
  }

  .header__controls {
    margin-top: 0;
  }

  .header__connect-type {
    margin-left: 15px;
    margin-right: 12px;
    margin-top: -3px;
  }

  .header__connect-type-img img {
    margin-right: 0;
  }

  .header__connect-type-img--mail img {
    transform: scale(0.8) translateY(7px);
  }
}
