.main-screen {
  background-image:
    url("../img/main-bg2-desktop@1x.webp"),
    url("../img/main-bg-desktop@1x.webp");

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-image:
      url("../img/main-bg2-desktop@1x.png"),
      url("../img/main-bg-desktop@1x.png");
  }

  background-position-x: 54vw, 0;
  background-position-y: 254px, 0;
  background-size: auto, cover;
  min-height: 878px;
  margin-top: -85px;
  background-color: #1b2931;
  background-repeat: no-repeat;
  width: 100%;
  color: #ffffff;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image:
      url("../img/main-bg2-desktop@2x.webp"),
      url("../img/main-bg-desktop@2x.webp");
    background-size: 705px 515px, cover;
  }
}

.main-screen__container {
  width: 100%;
  max-width: 1411px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-screen__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  width: 718px;
  padding-top: 212px;
  margin-top: 102px;
  margin-bottom: 12px;
  padding-left: 25px;
  margin-left: -25px;
}

.main-screen__slogan {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  width: 683px;
  margin-bottom: 44px;
  color: #ffffff;
  margin-left: 70px;
  padding-left: 25px;

  &::before {
    width: 63px;
    left: -94px;
    top: 16px;
    content: "";
    display: block;
    position: relative;
    height: 0;
    border-top: 1px solid white;
  }
}

.main-screen__button {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 409px;
  margin-left: 93px;
  color: white;
  background-color: #00b2ff;
  border: none;
  border-radius: 4px;
  min-height: 55px;

  &:hover,
  :focus {
    @include light-hover;
  }
}

.main-screen__scroll {
  display: block;
  color: #ffffff;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 120px;
  margin-left: -40px;
  transform: rotate(-90deg);
  width: 93px;
  height: 16px;
  opacity: 0.5;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top: 90px;
  }

  &:hover,
  :focus {
    @include standard-hover;
  }
}

.main-screen__button-text--mobile {
  display: none;
}

@media (max-width: 1023px) {
  .main-screen {
    background-image:
      url("../img/main-bg2-tablet@1x.webp"),
      url("../img/main-bg-tablet@1x.webp");

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image:
        url("../img/main-bg2-tablet@1x.png"),
        url("../img/main-bg-tablet@1x.png");
    }

    background-position-x: 66vw, -372px;
    background-position-y: 127px, 0;
    background-color: #1b2931;
    background-size: auto, cover;
    min-height: 686px;
    margin-top: -85px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image:
        url("../img/main-bg2-tablet@2x.webp"),
        url("../img/main-bg-tablet@2x.webp");
      background-size: 465px 340px, cover;
    }
  }

  .main-screen__title {
    width: 470px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
    padding-top: 87px;
    margin-bottom: 17px;
    margin-left: 66px;
  }

  .main-screen__slogan {
    width: 356px;
    font-size: 18px;
    line-height: 156.8%;
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: 115px;

    &::before {
      left: -50px;
      top: 19px;
      width: 32px;
    }
  }

  .main-screen__button {
    margin-top: 0;
    width: 379px;
    min-height: 55px;
    margin-left: 139px;
  }

  .main-screen__button-text--desktop {
    display: inline-block;
  }


  .main-screen__scroll {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-screen {
    background-image:
      url("../img/main-bg2-mobile@1x.webp"),
      url("../img/main-bg-mobile@1x.webp");

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background-image:
        url("../img/main-bg2-mobile@1x.png"),
        url("../img/main-bg-mobile@1x.png");
    }

    background-position-x: right, -624px;
    background-position-y: 92px, 0;
    min-height: 647px;
    margin-top: -55px;
    background-color: #1b2931;
    background-size: auto, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image:
        url("../img/main-bg2-mobile@2x.webp"),
        url("../img/main-bg-mobile@2x.webp");
      background-size: 301px 220px, cover;
    }
  }

  .main-screen__container {
    padding-left: 0;
  }

  .main-screen__title {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $main-font;
    padding-top: 186px;
    margin-left: -10px;
    width: 250px;
    margin-bottom: 19px;
  }

  .main-screen__slogan {
    width: 70%;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.8%;
    margin-left: 43px;
    margin-top: 6px;
    margin-bottom: 42px;

    &::before {
      left: -50px;
      top: 19px;
      width: 32px;
    }
  }

  .main-screen__button {
    width: 90%;
    margin: 0 5%;
    font-family: $main-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .main-screen__button-text--desktop {
    display: none;
  }

  .main-screen__button-text--mobile {
    display: inline-block;
  }
}
