.page-footer h2 {
    @include visually-hidden;
}

.page-footer__form {
    color: white;
    background-color: #00B2FF;    
    padding: 15px;
}

.page-footer__form h3 {
    margin: 0;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
}

.page-footer__form p {
    font-family: PT Mono, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.page-footer__form form {    
    display: flex;
    flex-direction: column;

    & > input, textarea {
        background-color: #19BAFF;
        border: none;
        font-family: PT Mono, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        
        &::-moz-placeholder {
           color:white; 
        }
        
        &::-webkit-input-placeholder {
            color:white; 
        }
    }

    & > input {
        width: 290px;
        min-height: 51px;
        margin-bottom: 25px;
        padding-left: 15px;
        box-sizing: border-box;
    }

    & textarea {
        width: 290px;
        height: 104px;
        resize: none;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 25px;
    }

    & button {
        background-color: #00B2FF;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        font-family: Roboto Condensed, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        width: 290px;
        height: 46px;
        margin-bottom: 25px;
    }

}

.page-footer__label {
    font-family: PT Mono, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-left: 10%;
    display: block;
    width: 230px;

    &::before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        border: 1px solid white;
        position: relative;
        top: 20px;
        left: -25px;
    }
    
}

.page-footer__form .page-footer__form-agreement input {
    @include visually-hidden;     
}

.page-footer__form div input:checked + .page-footer__label::before {
    background-image: url(/img/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.page-footer__form-wrapper {
    width: 290px;
    margin: 0 auto;
}

@media (min-width: 750px) {
    .page-footer__form-wrapper {
        width: 596px;
        min-height: 470px;
        margin: 40px auto;
    }

    .page-footer__form br {
        display: none;
    }

    .page-footer__form form {
        flex-direction: row;
        flex-wrap: wrap;

        & > input {
            width: 279px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        & > input:nth-of-type(1) {
            margin-right: 35px;
        }

        &  textarea {
            width: 100%;
            height: 159px;
            margin-bottom: 40px;
        }

        & button {
             margin-bottom: 50px;
        }
    }

    .page-footer__label {
        margin-left: 55px;
        margin-top: -12px;
    }
}

@media (min-width: 1920px) {
    .page-footer__form {
        background-image: url(/img/форма.png);
    }

    .page-footer__form-wrapper {
        margin-right: 18%;
    }
}