@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@mixin standard-hover {
  outline-color: #00b2ff;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    box-shadow: 0 0 0 2px #00b2ff inset, 0 0 0 4px white inset;
  }
}

@mixin light-hover {
  outline-color: #00b2ff;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
  color: #00b2ff;
  background-color: #ffffff;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    box-shadow: 0 0 0 2px #00b2ff inset, 0 0 0 4px white inset;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #fafafa;
}
